body{
  background-color: purple;
}
.lok{
	background: skyblue;
   width: 500px;
   height: 500px;
}
.lak{
	background: #fff;
	width: 100px;
	height: 100px;
	margin: 30px;
	display: inline-block;
	box-sizing: border-box;
	border: 2px solid orange;
	text-align: center;

}
.bor{
	background: #fff;
   display: inline-block;
   margin-left: 100px;
   justify-content: center;


}
.box{
	background: brown;
	margin: 30px;
	padding: 15px;
	box-sizing: border-box;
	display: inline-block;
	max-width: 300px ;
	height: 100px; 
	justify-content: center;
}